<div>
  <h1>Sandbox</h1>

  <app-ui-panel title="Panel title">
    Panel will a title
  </app-ui-panel>

  <app-ui-panel>
    Panel without a title
  </app-ui-panel>

  <app-ui-panel title="Datepicker">
    <app-ui-datepicker
      (onDateInput)="handleDateInput($event)"
    ></app-ui-datepicker>
  </app-ui-panel>

  <app-ui-panel title="Text">
    <app-ui-p>Default text</app-ui-p>
    <app-ui-p noBottomMargin="true">No bottom margin</app-ui-p>
  </app-ui-panel>

  <app-ui-panel title="Buttons:">
    <p>html button in sandbox:</p>
    <button class="button" (click)="handleClick()">Sandbox html button</button>

    <p>default ui-button:</p>
    <app-ui-button
      copy="Click me!"
      (onClick)="handleClick()"
    ></app-ui-button>

    <p>red variant:</p>
    <app-ui-button
      copy="Click me! (red)"
      (onClick)="handleClick()"
      red="true"
    ></app-ui-button>

    <p>disabled:</p>
    <app-ui-button
      copy="Click me! (red)"
      (onClick)="handleClick()"
      disabled="true"
    ></app-ui-button>

    <p>loading:</p>
    <app-ui-button
      copy="Click me! (red)"
      (onClick)="handleClick()"
      isLoading="true"
    ></app-ui-button>
  </app-ui-panel>

</div>
