<div class="row">
  <div class="col">
    <nav>
      <h1>Menu</h1>
      <ul>
        <li><a routerLink="/routing">Nested routing</a></li>
        <ul>
          <li><a routerLink="/routing/child1">Nested child 1</a></li>
          <li><a routerLink="/routing/child2">Nested child 2</a></li>
        </ul>
        <li><a routerLink="/binding">Basic binding</a></li>
        <li><a routerLink="/template-form">Template driven form</a></li>
        <li><a routerLink="/reactive-form">Reactive form</a></li>
        <li><a routerLink="/sandbox">Sandbox</a></li>
      </ul>
    </nav>
  </div>
</div>
