<div class="row">
  <div class="col">
    <h1>Nested routing</h1>
    <ul>
      <li><a routerLink="./child1">Nested child 1</a></li>
      <li><a routerLink="./child2">Nested child 2</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>