<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    placeholder="Choose a date"
    (dateInput)="handleDateInput($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
