<div class="row">
  <div class="col">
    <!-- Fields:
    today's date (auto)

    Travel Details:
    departure (airport, city, country)
    arrivial (airport, city, country)
    departure (data),(prefered time)
    return (data),(prefered time)
    Dates approved for hotel stay: 1 (fixed)

    Personal Details:
    Passport number
    country of issue
    expiration date
    First Name As Appears on ID
    Surname As Appears on ID:
    Gender: (M/F)
    Birthdate: (Month, Day, Year)
    Email Address:
    Phone Number:
    Comments/Additional Information for Egencia Team:

    Interview date (fixed)
    Interview time (fixed) -->

    <h1>Template driven form</h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <input id="name" [(ngModel)]="name" name="name"/>
      <button type="submit">Submit</button>
    </form>

  </div>
</div>

<div class="row">
  <div class="col">
    
  </div>
</div>