<div *ngIf="isLoading; then loading else notLoading"></div>

<ng-template #loading>
  <button
  class="button"
  disabled="true"
  >
  Loading...
  </button>
</ng-template>

<ng-template #notLoading>
  <button
    (click)="handleClick()"
    [ngClass]="className()"
    [disabled]="disabled"
  >
    {{copy}}
  </button>
</ng-template>
